<p id="notice"><%= notice %></p>

<p>
  <strong>Index:</strong>
  <%= @static.index %>
</p>

<p>
  <strong>Edit:</strong>
  <%= @static.edit %>
</p>

<p>
  <strong>Show:</strong>
  <%= @static.show %>
</p>

<p>
  <strong>New:</strong>
  <%= @static.new %>
</p>

<%= link_to 'Edit', edit_static_path(@static) %> |
<%= link_to 'Back', statics_path %>
