<p id="notice"><%= notice %></p>

<p>
  <strong>Doctor name:</strong>
  <%= @appointment.doctor_name %>
</p>

<p>
  <strong>Appointment time:</strong>
  <%= @appointment.appointment_time %>
</p>

<p>
  <strong>Location:</strong>
  <%= @appointment.location %>
</p>

<p>
  <strong>Doctor phone number:</strong>
  <%= @appointment.doctor_phone_number %>
</p>

<p>
  <strong>Note:</strong>
  <%= @appointment.note %>
</p>

<p>
  <strong>User:</strong>
  <%= @appointment.user %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
